#cf-zone-settings label{
	display: block;
}

#cf-zone-settings input[type=text]{
	width: 30em;
}

ul.cf-settings{
	display: inline-block;
	margin: 0 4em 1em 0;
}

ul.cf-settings label{
	display: inline-block;
	font-weight: bold;
	width: 10em;
}